@model TestAmericanFootball2.ViewModels.AmeFootViiewModel

@{
    ViewData["Title"] = "Index";
}

<h2>AmeFoot</h2>
<form asp-controller="AmeFoot" asp-action="Game" method="post">
    <div class="form-group">
        <label asp-for="Player1Id" class="control-label"></label>
        <input asp-for="Player1Id" class="form-control" />
        <span asp-validation-for="Player1Id" class="text-danger"></span>
    </div>
    <p>
        <input type="submit" name="start" value="開始" class="btn btn-default" />
    </p>
</form>